@model Web1.Models.FooterModel

<section class="text-white pt-5 pb-3" style="background-color: #F84646;">
    <div class="container">

           
            <div class="row">
                @foreach (var partner in Model.LinkGroups)
                {
                    <div class="col-12 col-md-3 mb-3">
                       
                        @Html.Partial("_Footer2Partial", partner)
                        @foreach (var Item in partner.Links)
                        {
                            <ul class="list-unstyled">

                                <li> @Html.Partial("_Footer3Partial", Item)</li>

                            </ul>
                        }
                    </div>
                }
               
                @Html.Partial("_Footer1Partial", Model)

            </div>
        
    </div>
</section>