@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Admin Panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="~/css/my.css" rel="stylesheet" />

    <style>
        body {
            display: flex;
            min-height: 100vh;
            margin: 0;
        }

        .sidebar {
            width: 220px;
            background-color: #343a40;
            color: white;
            padding-top: 20px;
            position: fixed;
            height: 100%;
        }

            .sidebar a {
                color: white;
                padding: 10px 20px;
                display: block;
                text-decoration: none;
            }

                .sidebar a:hover {
                    background-color: #495057;
                }

        .content {
            margin-left: 220px;
            padding: 30px;
            width: 100%;
        }
       
    </style>
</head>
<body>
    <div class="sidebar">
        <h4 class="text-center">Hello Admin</h4>
        <a href="~/Admin/PostsManagement">Quản lý bài viết</a>
        <a href="~/Admin/PartnerManagement">Quản lý đối tác</a>
        <a href="#">Báo cáo</a>
        <a href="~/Admin/ConfigurationManagement">Cài đặt</a>
    </div>

    <div class="content">
        <div class="d-flex justify-content-between mb-4">
            <h2 class="fw-bold">Trang quản trị</h2>
            <a href="/Account/Logout" class="btn btn-danger">Đăng xuất</a>
        </div>

        @RenderBody()
    </div>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/css/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"></script>
    <script src="~/js/site.js"></script>
  
</body>
</html>
