@model IEnumerable<Web1.Models.Introduce>
@{
    var list = Model.ToList();
}
<section class="section" id="about" style="margin-bottom:150px; margin-top:150px">
    <div class="container">
        @for (int i = 0; i < list.Count(); i++)
        {
            bool isEvent = i % 2 == 0;
            var item = list[i];
            if (isEvent)
            {
              
                    @Html.Partial("_IntroduceEvenPartial", item)
              
            }
            else
            {
                    @Html.Partial("_IntroduceOddPartial", item)
              
            }
        }


    </div>
</section>