@model Web1.Models.Block3Title

<section class="clients section-padding" Style="Background:#f84646 ;width: 100%; height: auto">
    <div class="container">


        <div style="margin-bottom:50px">
            @Html.Partial("_Block3TitlePatial", Model)
        </div>

        <div class="d-none d-md-flex row align-items-center g-3">
            @foreach (var block3 in Model.blocks)
            {
                <div class=" col-lg-3 clients-item-height">
                    <div class="d-flex align-items-center">
                        <div style="margin: 0px 0px 5px 0px">
                            <img src="~/images/@Model.Icon" class="clients-image img-fluid me-3">
                        </div>
                        <div style="margin: 0px 10px 0px 10px">
                            @Html.Partial("_Block3Patial", block3)
                        </div>


                    </div>

                </div>

            }
        </div>
        @* ipad *@
        <div class="d-none d-md-flex d-lg-none row align-items-center g-3">
            @foreach (var block3 in Model.blocks)
            {

                <div class=" col-sm-3 clients-item-height">
                    <div class="d-flex flex-column align-items-center">

                        <div style="margin: 0px 0px 5px 0px">
                            <img src="~/images/@Model.Icon" class="clients-image img-fluid me-3">
                        </div>
                        <div style="margin: 0px 10px 0px 10px">
                            @Html.Partial("_Block3Patial", block3)
                        </div>
                    </div>

                </div>

            }
        </div>
        @* mobile *@
        <div class="d-block d-md-none row align-items-center g-3">
            @foreach (var block3 in Model.blocks)
            {

                <div class=" col-sm-3 clients-item-height">
                    <div class="d-flex flex-column align-items-center" >

                        <div style="margin: 0px 0px 5px 0px">
                            <img src="~/images/@Model.Icon2" class="clients-image img-fluid me-3">
                        </div>
                        <div >
                            @Html.Partial("_Block3Patial", block3)
                        </div>
                    </div>

                </div>

            }
        </div>



    </div>


</section>
