@model Web1.Models.TestYoneTitle

<section class="clients section-padding" style="background:#f84646; width: 100%;">
    <div class="container">
        <div style="margin-bottom: 50px">
            @Html.Partial("_TestYoneTitlePatial", Model)
        </div>
        <div class="d-flex test-wrap justify-content-center g-3" >
            @foreach (var testYone in Model.blocks)
            {
                <div class="col-md-3 clients-item-height" style="margin-top:10px;">
                    <div class="d-flex align-items-center justify-content-center test__box ">
                        <div class="clients-text testyone-image d-flex flex-column justify-content-center" >
                            @Html.Partial("_TestYonePatial", testYone)
                        </div>
                        <img src="~/images/@Model.Icon" class="clients-image  clients-image--mobile-is-none img-fluid mb-2" />
                        <img src="~/images/@Model.Icon2" class="clients-image img-fluid clients-image--tablet-is-none mb-2" />
                       
                    </div>
                </div>

            }
        </div>

      
    </div>
</section>
