@model Web1.Models.Block3Title
<div class="d-none d-md-block col-lg-12 col-12" style="margin-bottom: 40px;">
    <h2 class="text-center text-white">@Model.Title</h2>
    <p class="text-center" style="color:#E6E6E6">@Model.DescriptionTitle</p>

</div>
<div class="d-block d-sm-none col-lg-12 col-12" style="margin-bottom: 40px;">
    <h3 class="text-center text-white">@Model.Title</h3>
    <p class="text-center" style="color:#E6E6E6">@Model.DescriptionTitle</p>

</div>