@model Web1.Models.Block3Title
<div class="col-lg-12 col-12" style="margin-bottom: 40px;">
    <h2 class="text-center text-white">@Model.Title</h2>
    <p class="text-center text-white">@Model.DescriptionTitle</p>

</div>
