@model Web1.Models.Contact

<img src="~/images/@Model.Icon" width="120" class="mb-3" />

<h1>@Model.Title</h1>
<p style="color:#000000">@Model.Description</p>
<button class="btn btn-danger text-white  fw-bold px-4 py-3" style="background-color:#F84646">
    @Model.TitleButton
</button>