@model Web1.Models.Header



<div class="subscribe-wrapper">
    <h1 class="subscribe-title text-black text-center">@Model.title</h1>
    <p class="subscribe-description text-black text-center">@Model.description</p>
    <div class="subscribe-input-group" >
        <input type="text" placeholder="Nhập email của bạn" />
        <button type="button" style="background-color: #F84646; border-radius: 8px;">@Model.LabelButton</button>
    </div>
</div>


