@model Web1.DTO.PartnerDTO

@* ipad trở lên *@
<div class="d-none d-sm-block">
    <img src="~/images/@Model.Logo" class="clients-image img-fluid" alt="@Model.Name" style="height: 60px; object-fit: contain;" />

</div>
@* iphone pro  *@
<div class="d-block d-md-none" >
    <img src="~/images/@Model.Logo" class="clients-image img-fluid" alt="@Model.Name" style="height: 40px; width:100px; object-fit: contain;">
</div>
