@model Web1.Models.ServiceFeature


<div class="col-4  py-2  align-items-center">
    <div class="text-center">
        <img class="featured-image " src="~/images/@Model.Icon" width="65" />
    </div>

    <h4 class="text-center">@Model.Title</h4>
    <p class="text-black text-center mb-0">@Model.Description</p>
</div>