@model Web1.Models.ServiceFeature


@* Desktop: Hiển thị 3 cột *@
<div class="service-item">
    <div class="text-center">
        <img class="featured-image mb-3" src="~/images/@Model.Icon" width="65" height="65" />
    </div>
    <h5 class="text-center mb-2">@Model.Title</h5>
    <p class="text-black text-center" style="max-width: 300px; margin: 0 auto;">@Model.Description</p>
</div>

